<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>

<div class="row" style="align-items: flex-start;">
  <div class="col-lg-4">
    <mat-card class="cardWithShadow theme-card p-24">
      <mat-card-header class="d-flex gap-10" style="padding: 0;">
        <mat-card-title class="m-b-0">
          Looking for a Driver?
        </mat-card-title>
        <mat-icon>local_taxi</mat-icon>

      </mat-card-header>

      <mat-card-content class="p-0">
        <form [formGroup]="serviceDetailsForm">
          <div class="row">
            <!-- Booking Type -->
            <div class="col-lg-12 p-12 d-flex gap-12  justify-content-between">
              <mat-label class="driver-label">Booking Type</mat-label>
              <mat-radio-group class="mat-mdc-radio-group d-flex flex-wrap" formControlName="bookingType">
                <mat-radio-button color="primary" value="hourly_driver">Hourly</mat-radio-button>
                <mat-radio-button color="primary" value="daily_driver">Daily</mat-radio-button>
                <mat-radio-button color="primary" value="one_time">Drop</mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Pickup Location -->
            <div class="col-lg-12 p-12" formGroupName="pickupLocation">
              <app-google-map-search-box [label]="'Pick up Location'"
                                         formControlName="place"></app-google-map-search-box>
            </div>

            <!-- Drop Off Location -->
            <div *ngIf="serviceDetailsForm.get('bookingType')?.value === 'one_time'" class="col-lg-12 p-12"
                 formGroupName="dropOffLocation">
              <app-google-map-search-box [label]="'Drop off Location'"
                                         formControlName="place"></app-google-map-search-box>
            </div>

            <!-- Driver Type -->
            <div class="col-lg-12 p-12 d-flex gap-12  justify-content-between">
              <mat-label class="driver-label">Driver Type</mat-label>
              <mat-radio-group class="mat-mdc-radio-group d-flex gap-16" formControlName="serviceType">
                <mat-radio-button color="primary" value="withCar">With Car</mat-radio-button>
                <mat-radio-button color="primary" value="withoutCar">Without Car</mat-radio-button>
              </mat-radio-group>
            </div>

            <!-- Vehicle Type Selection -->
            <div *ngIf="serviceDetailsForm.get('serviceType')?.value === 'withCar'" class="col-lg-12 p-12">
              <div class="d-flex gap-12">
                <mat-label class="f-w-600 m-b-8 d-block">Vehicle Type</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select formControlName="vehicleType">
                    <mat-option *ngFor="let option of vehicleTypes" [value]="option.value">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- From Date Picker -->
            <div class="col-lg-8 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Select From Date</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [matDatepicker]="fromPicker" [min]="minDate" formControlName="fromDate" matInput
                       placeholder="Select a date"/>
                <mat-datepicker-toggle [for]="fromPicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- From Time Picker -->
            <div class="col-lg-4 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Time</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [min]="minTime" [ngxMatTimepicker]="pickerFrom" formControlName="fromTime" matInput
                       placeholder="12:00 AM"/>
              </mat-form-field>
            </div>
            <ngx-mat-timepicker #pickerFrom color="primary"></ngx-mat-timepicker>
          </div>

          <div class="row">
            <!-- To Date Picker -->
            <div class="col-lg-8 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Select To Date</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [matDatepicker]="toPicker" [min]="minToDate" formControlName="toDate" matInput
                       placeholder="Select a date"/>
                <mat-datepicker-toggle [for]="toPicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- To Time Picker -->
            <div class="col-lg-4 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Time</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [min]="minTime" [ngxMatTimepicker]="pickerTo" formControlName="toTime" matInput
                       placeholder="12:00 AM"/>
              </mat-form-field>
            </div>
            <ngx-mat-timepicker #pickerTo color="primary"></ngx-mat-timepicker>
          </div>

          <div class="col-lg-12 p-12" style="padding: 12px 0 !important;">
            <div class="d-flex gap-12">
              <mat-label class="f-w-600 m-b-8 d-block p-l-0 p-r-0">Additional
                Services
              </mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-select formControlName="additionalServices" multiple>
                  <mat-option *ngFor="let option of additionalServices" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="p-t-24 d-flex justify-content-end">
            <button (click)="calculateDays(); checkLocationValuesChanged()"
                    [disabled]="!serviceDetailsForm.valid"
                    color="primary"
                    mat-raised-button>
              Calculate Price & Confirm
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-8">
    <app-google-map-drawings (distanceChanges)="distanceChanges($event)"
                             [currentLocation]="currentLocation"
                             [location]="toAndFromCoordinates"></app-google-map-drawings>
  </div>
</div>

