<div class="mat-mdc-menu-content ng-tns-c1923052698-139">
  <div class="d-flex align-items-center p-x-32 p-y-16 ng-tns-c1923052698-139"><h6
    class="f-s-16 f-w-600 m-0 mat-subtitle-1">Notifications</h6><span class="m-l-auto"><span
    class="bg-primary text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">5 new</span></span></div>
  <button aria-disabled="false"
          class="mat-mdc-menu-item mat-mdc-focus-indicator p-x-32 p-y-16 ng-tns-c1923052698-139 ng-star-inserted"
          mat-menu-item="" role="menuitem" style="" tabindex="0"><span class="mat-mdc-menu-item-text"><div
    class="d-flex align-items-center"><img class="rounded-circle" src="/assets/images/profile/user-1.jpg"
                                           width="48"><div class="m-l-16"><h5
    class="f-s-14 f-w-600 m-0 mat-subtitle-1"> Roman Joined thes Team! </h5><span>Congratulate him</span></div></div></span>
    <div class="mat-ripple mat-mdc-menu-ripple" matripple=""></div><!----></button>
  <button aria-disabled="false"
          class="mat-mdc-menu-item mat-mdc-focus-indicator p-x-32 p-y-16 ng-tns-c1923052698-139 ng-star-inserted"
          mat-menu-item="" role="menuitem" style="" tabindex="0"><span class="mat-mdc-menu-item-text"><div
    class="d-flex align-items-center"><img class="rounded-circle" src="/assets/images/profile/user-2.jpg"
                                           width="48"><div class="m-l-16"><h5
    class="f-s-14 f-w-600 m-0 mat-subtitle-1"> New message received </h5><span>Salma sent you new message</span></div></div></span>
    <div class="mat-ripple mat-mdc-menu-ripple" matripple=""></div><!----></button>
  <button aria-disabled="false"
          class="mat-mdc-menu-item mat-mdc-focus-indicator p-x-32 p-y-16 ng-tns-c1923052698-139 ng-star-inserted"
          mat-menu-item="" role="menuitem" style="" tabindex="0"><span class="mat-mdc-menu-item-text"><div
    class="d-flex align-items-center"><img class="rounded-circle" src="/assets/images/profile/user-3.jpg"
                                           width="48"><div class="m-l-16"><h5
    class="f-s-14 f-w-600 m-0 mat-subtitle-1"> New Payment received </h5><span>Check your earnings</span></div></div></span>
    <div class="mat-ripple mat-mdc-menu-ripple" matripple=""></div><!----></button>
  <button aria-disabled="false"
          class="mat-mdc-menu-item mat-mdc-focus-indicator p-x-32 p-y-16 ng-tns-c1923052698-139 ng-star-inserted"
          mat-menu-item="" role="menuitem" style="" tabindex="0"><span class="mat-mdc-menu-item-text"><div
    class="d-flex align-items-center"><img class="rounded-circle" src="/assets/images/profile/user-4.jpg"
                                           width="48"><div class="m-l-16"><h5
    class="f-s-14 f-w-600 m-0 mat-subtitle-1"> Jolly completed tasks </h5><span>Assign her new tasks</span></div></div></span>
    <div class="mat-ripple mat-mdc-menu-ripple" matripple=""></div><!----></button>
 
  <div class="p-y-12 p-x-32 ng-tns-c1923052698-139">
    <button class="w-100 mdc-button mdc-button--outlined mat-mdc-outlined-button mat-primary mat-mdc-button-base"
            color="primary"
            mat-ripple-loader-class-name="mat-mdc-button-ripple"
            mat-ripple-loader-uninitialized="" mat-stroked-button=""><span
      class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label"> See all notifications </span><span
      class="mat-mdc-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span></button>
  </div>
</div>
