<div *ngFor="let jobProposal of data" class="col-sm-6 col-lg-4">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow">
    <div [matMenuTriggerFor]="notification" style="float: right;
    display: flex;
    width: 100%;
    justify-content: flex-end;padding: 12px;cursor: pointer">
      <i-tabler class="d-flex" name="message">Contact</i-tabler>
    </div>
    <mat-card-content class="mat-mdc-card-content p-y-24 text-center" style="padding-top: 0 !important">
      <img [src]="jobProposal.imgSrc" alt="image" class="rounded-circle border p-5" width="100"/>
      <mat-card-title class="mat-mdc-card-title m-b-0 m-t-24">{{ jobProposal.name }}</mat-card-title>
      <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-1 m-t-8 lh-24 m-b-24">{{ jobProposal.profession }}
      </mat-card-subtitle>
      <mat-menu #notification="matMenu" class="cardWithShadow" style="width: 100%">
        <app-mini-chat></app-mini-chat>
      </mat-menu>

      <button
        class="m-r-8 mdc-button  mat-mdc-unelevated-button mat-primary"
      ><span
        (click)="openDialog()" class="mdc-button__label">View</span></button>
      <button
        class="mdc-button mdc-button--outlined mat-mdc-outlined-button mat-warn"
      ><span
        (click)="openDialog()" class="mdc-button__label">Accept</span></button>
      <div class="m-t-20" style="    display: flex;
    flex-direction: column;
    align-items: center;">
        <span class="f-s-12">
         <mat-icon *ngFor="let star of getStars(jobProposal.rating||0); let i = index" color="primary">
        {{ star }}
      </mat-icon>
      </span>
      </div>
    </mat-card-content>
  </mat-card>

</div>
