.search {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 18px;

  .title {
    width: 40%;
    height: 100%;
    color: #4ada9e;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 7px;

    .mat-mdc-card-title {
      font-size: 27px;
      font-weight: 800;
    }

    .mat-mdc-card-subtitle {
      color: #0a3042;
    }
  }

  .search-box {
    width: 50%;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}
