<div class=" rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted"
     style="background-color: #e4e36424 !important;">
  <div class="row">
    <div class="col-sm-8">
      <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">Service History</h4>
      <div class="d-flex align-items-center overflow-hidden">
        <span class="breadcrumb-item active ng-star-inserted">
          Together, we can achieve more! 🥰
        </span>
      </div>
    </div>
    <div class="col-sm-4 text-right position-relative">
      <div class="breadcrumb-icon">
        <img alt="breadcrumb" src="../../../../assets/images/svgs/service-details.png"
             style="margin-top: -8px;" width="320px">
      </div>
    </div>
  </div>
</div>
<mat-slide-toggle [(ngModel)]="isCardView"
                  class="mat-mdc-slide-toggle mat-accent  m-b-30"
                  style=" display: flex;
    justify-content: flex-end;">
  {{ isCardView ? 'Table View' : 'Card View' }}
</mat-slide-toggle>
<mat-card *ngIf="!isCardView" class="cardWithShadow">
  <mat-card-header class="d-flex">
    <div class="search">
      <div class="search-box">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input (keyup)="applyFilter($event)" matInput placeholder="Search services...">
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="table-responsive m-t-30">
      <table [dataSource]="dataSource" class="w-100" mat-table matSort>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Image</th>
          <td *matCellDef="let element" mat-cell>
            <img [src]="element.imageUrl" alt="{{ element.title }}" class="rounded" width="48"/>
          </td>
        </ng-container>

        <!-- Service Title Column -->
        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Service Title</th>
          <td *matCellDef="let element" mat-cell>{{ element.title }}</td>
        </ng-container>

        <!-- Service Type Column -->
        <ng-container matColumnDef="serviceType">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Service Type</th>
          <td *matCellDef="let element" mat-cell>{{ element.serviceType }}</td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Location</th>
          <td *matCellDef="let element" mat-cell>{{ element.location }}</td>
        </ng-container>

        <!-- Date Requested Column -->
        <ng-container matColumnDef="dateRequested">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Date Requested</th>
          <td *matCellDef="let element" mat-cell>{{ element.dateRequested | date: 'mediumDate' }}</td>
        </ng-container>

        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Salary</th>
          <td *matCellDef="let element" mat-cell>
            <span *ngIf="element.salary > 0">₹{{ element.salary | number: '1.0-2' }}</span>
            <span *ngIf="element.salary === 0">Unpaid</span>
          </td>
        </ng-container>

        <!-- Order Type Column -->
        <ng-container matColumnDef="orderType">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Order Type</th>
          <td *matCellDef="let element" mat-cell>{{ element.orderType }}</td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Duration</th>
          <td *matCellDef="let element" mat-cell>{{ element.duration }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
          <td *matCellDef="let element" mat-cell>
            <app-service-status [status]="element.status"></app-service-status>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="applyForJob(element.id)" color="primary" mat-button>Edit</button>
          </td>
        </ng-container>

        <!-- Table Headers and Rows -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>

      <!-- Add Pagination -->
      <mat-paginator [pageSizeOptions]="[5,10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<app-order-history-card-view *ngIf="isCardView" [data]="serviceOrders"></app-order-history-card-view>
