<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>

<div class="row align-items-start">
  <!-- Left Column: Errand Runner Form -->
  <div class="col-lg-4">
    <mat-card class="cardWithShadow theme-card p-24">
      <mat-card-header class="d-flex gap-10 p-0">
        <mat-card-title class="m-b-0">Looking for a Bystander?</mat-card-title>
        <mat-icon>blind</mat-icon>
      </mat-card-header>

      <mat-card-content class="p-0">
        <form [formGroup]="bystanderForm">
          <!-- Service Type Selection -->
          <div class="col-lg-12 p-12 d-flex align-items-center" style="padding: 12px 0 !important;">
            <mat-label class="f-w-600 d-block " style="width: 40%">Service Type</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="serviceType" multiple>
                <mat-option *ngFor="let option of bystanderServiceTypes" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Booking Type Selection -->
          <div class="col-lg-12 p-12 d-flex gap-12 justify-content-between" style="padding: 12px 0 !important;">
            <mat-label class="driver-label">Booking Type</mat-label>
            <mat-radio-group class="d-flex flex-wrap" formControlName="bookingType">
              <mat-radio-button color="primary" value="hourly_driver">Hourly</mat-radio-button>
              <mat-radio-button color="primary" value="daily_driver">Daily</mat-radio-button>
              <mat-radio-button color="primary" value="one_time">Drop</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Pickup and Drop Off Locations -->
          <!-- Pickup Location -->
          <div class="col-lg-12 p-12 p-l-0 p-r-0" formGroupName="pickupLocation">
            <app-google-map-search-box [label]="'Pick up Location'"
                                       formControlName="place"></app-google-map-search-box>
          </div>

          <!-- Date and Time Selection -->
          <div class="row">
            <!-- From Date Picker -->
            <div class="col-lg-8 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Select From Date</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [matDatepicker]="fromPicker" [min]="minDate" formControlName="fromDate" matInput
                       placeholder="Select a date"/>
                <mat-datepicker-toggle [for]="fromPicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- From Time Picker -->
            <div class="col-lg-4 p-12">
              <mat-label class="f-w-600 m-b-8 d-block">Time</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <input [min]="minTime" [ngxMatTimepicker]="pickerFrom" formControlName="fromTime" matInput
                       placeholder="12:00 AM"/>
              </mat-form-field>
            </div>
            <ngx-mat-timepicker #pickerFrom color="primary"></ngx-mat-timepicker>
          </div>

          <!-- Priority Levels Selection -->
          <div class="col-lg-12 p-12 d-flex gap-12 justify-content-between" style="padding: 12px 0 !important;">
            <mat-label class="driver-label">Gender Preferences</mat-label>
            <mat-radio-group class="d-flex flex-wrap" formControlName="genderPreferences">
              <mat-radio-button *ngFor="let option of genderPreferences" [value]="option.value"
                                color="primary"> {{ option.label }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-lg-12 p-12 d-flex align-items-center" style="padding: 12px 0 !important;">
            <mat-label class="f-w-600 d-block " style="width: 40%">Service Type</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-select formControlName="specialRequirements" multiple>
                <mat-option *ngFor="let option of specialRequirements" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-12 p-12 d-flex align-items-center" style="padding: 12px 0 !important;">
            <mat-label class="f-w-600 d-block " style="width: 40%">Additional Notes</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <textarea formControlName="additionalNotes" matInput
                        placeholder="Enter any additional notes here"></textarea>
            </mat-form-field>
          </div>
          <!-- Voice Note Recording -->
          <div class="voice-note-container">
            <mat-label class="f-w-600 m-b-8 d-block">Record Additional Notes</mat-label>
            <app-audio-recording formControlName="additionalNotesVoice"></app-audio-recording>
          </div>

          <!-- Submit Button -->
          <div class="p-t-24 d-flex justify-content-end">
            <button (click)="submitBystanderForm()" [disabled]="!bystanderForm.valid"
                    color="primary" mat-raised-button>
              Calculate Price & Confirm
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right Column: Google Map Display -->
  <div class="col-lg-8">
    <app-google-map-drawings [currentLocation]="currentLocation"
                             [location]="toAndFromCoordinates"></app-google-map-drawings>
  </div>
</div>

