/* Home container styling */
.home-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
  justify-content: center;
  align-items: center;
  position: relative; /* For absolute positioning of children */
  background-color: #f8f8f8;
  /* Video styling */
  .background-video {
    position: absolute; /* Position behind the content */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire area */
    z-index: -1; /* Ensure the video is behind other content */
  }

  .side {
    height: 50%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 22px;
    transition: background-color 0.3s ease; /* Optional for hover effects */

    &.left {
      background-color: #4ada9e;

      .text {
        color: #0a3042;
      }
    }

    &.right {
      background-color: #0a3042;

      .text {
        color: #4ada9e;
      }
    }


    .text {
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        color: white !important;
        cursor: pointer;
        transform: scale(1.2); /* 20% zoom */
      }
    }
  }

}
