.title {
  height: 100%;
  color: #4ada9e;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 49%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 11px;

  .mat-mdc-card-title {
    font-size: 18px;
    font-weight: 600;
  }

  .mat-mdc-card-subtitle {
    color: #0a3042;
  }
}
