<div class="row">
  <div *ngFor="let status of statusMap" class="col-lg-3">
    <div class="status-wrapper">
      <div [ngStyle]="{ 'background-color': status.headingBgColor, 'color':'rgb(255 255 255)',
    'font-weight': 600 }" class="status-header">
        <div class="status-badge" matBadge="{{ status.items.length || 0 }}" matBadgeColor="primary"
             matBadgeOverlap="false">
          {{ status.key }}
        </div>
      </div>

      <div class="taskboard-cards cdk-drop-list">
        <div *ngFor="let task of status.items"
             [ngStyle]="{ 'border': '1px solid ' + status.headingBgColor, 'color': 'black' }"
             class="task-card">

          <!-- Image on the left -->
          <div class="task-img">
            <img
              [src]="task?.assignedUser?.image"
              alt="image"
              class="rounded-circle border"
              height="40"
              matTooltip="{{ task?.assignedUser?.firstName }} {{ task?.assignedUser?.lastName }}"
              width="40"/>
          </div>

          <!-- Text in the center -->
          <div class="task-text">
            <span class="task-title">{{ task.serviceType || '' }}</span>
            <span class="task-date">{{ task.dateRequested | date: 'dd/MM/yyyy' }}</span>
          </div>

          <!-- Icon button on the right -->
          <div style="flex-shrink: 0">
            <button
              (click)="openServiceDetails(task.id)"
              class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
              <mat-icon [ngStyle]="{ 'color': status.headingBgColor }">paid
              </mat-icon>
            </button>
            <button
              (click)="openServiceDetails(task.id)"
              class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
              <mat-icon [ngStyle]="{ 'color': status.headingBgColor }">
                open_in_new
              </mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
