.title {
  height: 100%;
  color: #4fda9f;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 49%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 11px;

  .mat-mdc-card-title {
    font-size: 18px;
    font-weight: 600;
  }

  .mat-mdc-card-subtitle {
    color: #0a3042;
  }
}

.selected-filter {
  color: #4fda9f;
  border: 1px solid rgb(76 218 159) !important;
  box-shadow: 0 0 10px rgb(229 250 239);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.box-no-shadow {
  box-shadow: none;
  border: 1px #d6f7cf solid;
}
