<div class="service-forms">
  <div class="row" style="    display: flex;
    justify-content: flex-end;">
    <div class="col-lg-6" style="display: flex;
    justify-content: flex-end;    align-items: baseline;
    gap: 17px;">
      <div style="font-size: 15px;
    color: #093042;">
        <span>Looking for another Service?</span>
      </div>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedServiceType">
          <mat-option [value]="parentServiceType.Drivers">Drivers</mat-option>
          <mat-option [value]="parentServiceType.Bystanders">Bystanders</mat-option>
          <mat-option [value]="parentServiceType.Errands">Errands</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-driver-service-form
    *ngIf="selectedServiceType === parentServiceType.Drivers"></app-driver-service-form>

  <!-- Bystander Service Form -->
  <app-bystander-service-form
    *ngIf="selectedServiceType === parentServiceType.Bystanders"></app-bystander-service-form>

  <!-- Errands Service Form -->
  <app-errands-service-form *ngIf="selectedServiceType === parentServiceType.Errands"></app-errands-service-form>
</div>


