<div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted">
  <div class="row">
    <div class="col-sm-8"><h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"> Looking for a Driver? </h4>
      <div class="d-flex align-items-center overflow-hidden">
        <span class="breadcrumb-item active ng-star-inserted">Reliable drivers, bystanders, and errand runners for your
          everyday needs.
        </span>
      </div>
    </div>
    <div class="col-sm-4 text-right position-relative">
      <div class="breadcrumb-icon"><img alt="breadcrumb" src="../../../assets/images/svgs/service-details.png"
                                        style="margin-top: -8px;" width="111%">
      </div>
    </div>
  </div>
</div>
<app-user></app-user>
