<!-- Blog Card -->
<div class="header-container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="page-title">Service Order Details</h2>
      <p>Order No: {{ serviceOrders?.id }}</p>
      <span *ngIf="serviceOrders?.status === 'Available'"
            class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">Available</span>
      <span *ngIf="serviceOrders?.status === 'In Progress'"
            class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">In Progress</span>
      <span *ngIf="serviceOrders?.status === 'Completed'"
            class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">Completed</span>
    </div>
    <div class="col-sm-4 text-right position-relative">
      <div class="breadcrumb-icon">
        <img alt="breadcrumb" class="breadcrumb-img" src="../../../assets/images/svgs/service-details.png">
      </div>

    </div>
  </div>
</div>
<mat-card class="cardWithShadow service-details">
  <!-- Image -->


  <!-- Blog Body -->
  <mat-card-content class="service-details-content" style="padding: 30px">
    <div class="details-info">

      <div class="service-details-table">
        <div class="container">
          <div class="label-container">
            <div class="label-title">Title:</div>
            <div class="label-value">{{ serviceOrders?.title }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Order ID:</div>
            <div class="label-value">{{ serviceOrders?.id }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Order Type:</div>
            <div class="label-value">{{ serviceOrders?.orderType }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Service Type:</div>
            <div class="label-value">{{ serviceOrders?.serviceType }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Location:</div>
            <div class="label-value">{{ serviceOrders?.location }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Date Requested:</div>
            <div class="label-value">{{ serviceOrders?.dateRequested }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Duration:</div>
            <div class="label-value">{{ serviceOrders?.duration }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Salary:</div>
            <div class="label-value">{{ serviceOrders?.salary }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Status:</div>
            <div class="label-value">{{ serviceOrders?.status }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Email:</div>
            <div class="label-value">{{ serviceOrders?.email }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Special Notes:</div>
            <div class="label-value">{{ serviceOrders?.specialNotes }}</div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-4">
        <mat-card class="mat-mdc-card mdc-card cardWithShadow">
          <mat-card-content class="mat-mdc-card-content p-y-24 text-center"><img alt="img" class="rounded-circle"
                                                                                 src="/assets/images/profile/user-1.jpg"
                                                                                 width="140">
            <mat-card-title class="mat-mdc-card-title m-b-0 m-t-24">Tommoie Henderson</mat-card-title>
            <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-1 m-t-8 lh-24 m-b-24">Accept the request and <br>type
              a message
            </mat-card-subtitle>
            <button
              class="m-r-8 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
              color="primary"
              mat-flat-button=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"><span
              class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
              class="mdc-button__label">Accept</span><span class="mat-mdc-focus-indicator"></span><span
              class="mat-mdc-button-touch-target"></span><span class="mat-ripple mat-mdc-button-ripple"></span></button>
            <button class="mdc-button mdc-button--outlined mat-mdc-outlined-button mat-warn mat-mdc-button-base"
                    color="warn" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                    mat-stroked-button=""><span
              class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
              class="mdc-button__label">Remove</span><span class="mat-mdc-focus-indicator"></span><span
              class="mat-mdc-button-touch-target"></span><span class="mat-ripple mat-mdc-button-ripple"></span></button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>


  </mat-card-content>
</mat-card>
<app-job-proposals></app-job-proposals>
<!-- Comment Section -->
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title class="comment-title">Post Comments</mat-card-title>

    <form>
      <!-- Comment Textarea -->
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput placeholder="Write a comment" rows="5"></textarea>
      </mat-form-field>

      <!-- Submit Button -->
      <button color="primary" mat-flat-button type="submit">Post Comment</button>
    </form>

    <!-- Comments Title -->
    <mat-card-title class="comments-section-title">
      Comments <span class="comments-count">4</span>
    </mat-card-title>

    <!-- Individual Comment -->
    <div class="comment-container">
      <div class="comment-header">
        <img alt="user" class="user-img" src="/assets/images/profile/user-2.jpg">
        <span class="user-name">Charlie Hamilton</span>
        <span class="comment-time">
          <i-tabler class="icon-7 op-5" name="circle-filled"></i-tabler> now
        </span>
      </div>
      <p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button color="primary" mat-mini-fab>Reply</button>
    </div>
  </mat-card-content>
</mat-card>
