<!-- Blog Card -->
<div class="header-container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="page-title">Service Order Details</h2>
      <p>Order No: {{ serviceOrders?.id }}</p>
      <span *ngIf="serviceOrders?.status === 'Available'"
            class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">Available</span>
      <span *ngIf="serviceOrders?.status === 'In Progress'"
            class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">In Progress</span>
      <span *ngIf="serviceOrders?.status === 'Completed'"
            class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">Completed</span>
    </div>
    <div class="col-sm-4 text-right position-relative">
      <div class="breadcrumb-icon">
        <img alt="breadcrumb" class="breadcrumb-img" src="../../../assets/images/svgs/service-details.png">
      </div>


    </div>
  </div>
</div>
<mat-card class="cardWithShadow service-details">
  <!-- Image -->


  <!-- Blog Body -->
  <mat-card-content class="service-details-content" style="padding: 30px">
    <div class="details-info">

      <div class="service-details-table">
        <div class="container">
          <div class="label-container">
            <div class="label-title">Title:</div>
            <div class="label-value">{{ serviceOrders?.title }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Order ID:</div>
            <div class="label-value">{{ serviceOrders?.id }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Order Type:</div>
            <div class="label-value">{{ serviceOrders?.orderType }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Service Type:</div>
            <div class="label-value">{{ serviceOrders?.serviceType }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Location:</div>
            <div class="label-value">{{ serviceOrders?.location }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Date Requested:</div>
            <div class="label-value">{{ serviceOrders?.dateRequested }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Duration:</div>
            <div class="label-value">{{ serviceOrders?.duration }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Salary:</div>
            <div class="label-value">{{ serviceOrders?.salary }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Status:</div>
            <div class="label-value">{{ serviceOrders?.status }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Email:</div>
            <div class="label-value">{{ serviceOrders?.email }}</div>
          </div>

          <div class="label-container">
            <div class="label-title">Special Notes:</div>
            <div class="label-value">{{ serviceOrders?.specialNotes }}</div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-4">
        <mat-card style="border: solid 1px  rgba(146,236,132,0.4);
    border-radius: 3px;box-shadow: none;
}
">
          <mat-card-content class="mat-mdc-card-content text-center p-24">
            <img class="rounded-circle border p-5" src="/assets/images/profile/user-1.jpg" width="100"/>
            <h4 class="mat-mdc-card-title card-title m-t-16 m-b-0">Assigned User</h4>
            <span class="f-s-12">Profession</span>
            <div class="m-t-20">
              <button color="primary" mat-stroked-button>Contact
              </button>
            </div>
            <div class="m-t-20">
          <span class="f-s-14">
            Mo: ***********
          </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>


  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-header><h3>
      You have got
      <span class="proposals-count">18</span>
      proposals for this service. Please review them to choose the best one.
    </h3></mat-card-header>
    <app-workers [data]="workers" class="workers-list"></app-workers>

  </mat-card-content>
</mat-card>
<!-- Comment Section -->
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title class="comment-title">Post Comments</mat-card-title>

    <form>
      <!-- Comment Textarea -->
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput placeholder="Write a comment" rows="5"></textarea>
      </mat-form-field>

      <!-- Submit Button -->
      <button color="primary" mat-flat-button type="submit">Post Comment</button>
    </form>

    <!-- Comments Title -->
    <mat-card-title class="comments-section-title">
      Comments <span class="comments-count">4</span>
    </mat-card-title>

    <!-- Individual Comment -->
    <div class="comment-container">
      <div class="comment-header">
        <img alt="user" class="user-img" src="/assets/images/profile/user-2.jpg">
        <span class="user-name">Charlie Hamilton</span>
        <span class="comment-time">
          <i-tabler class="icon-7 op-5" name="circle-filled"></i-tabler> now
        </span>
      </div>
      <p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button color="primary" mat-mini-fab>Reply</button>
    </div>
  </mat-card-content>
</mat-card>
