.header-container {
  background-color: #52dba01a;
  padding: 24px;
  overflow: hidden;
  margin-bottom: 18px;
  border-radius: 8px;

}

.bg-pending {
  background-color: rgba(240, 248, 255, 0.6); /* Light blue for Pending with 70% opacity */
}

.bg-in-progress {
  background-color: rgba(255, 241, 205, 0.6); /* Light yellow for In Progress with 70% opacity */
}

.bg-completed {
  background-color: rgba(212, 237, 218, 0.6); /* Light green for Completed with 70% opacity */
}

.bg-cancelled {
  background-color: rgba(248, 215, 218, 0.6); /* Light red for Cancelled with 70% opacity */
}

.bg-failed {
  background-color: rgba(245, 198, 203, 0.6); /* Light pink for Failed with 70% opacity */
}

.bg-on-hold {
  background-color: rgba(226, 227, 229, 0.6); /* Light gray for On Hold with 70% opacity */
}

.bg-not-available {
  background-color: rgba(231, 243, 254, 0.6); /* Light blue for Not Available with 70% opacity */
}

.page-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.breadcrumb-img {
  width: 400px;
}

.service-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.details-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;

  .assigned-person-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 335px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
  }

  .assigned-person-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
    object-fit: cover;
  }

  .assigned-person-label {
    font-size: 14px;
    color: #777;
    text-align: center;
  }
}

.proposals-count {
  color: #ffffff;
  background: #50db9f;
  padding: 4px;
  border-radius: 43px;
}

.service-details-table {
  width: 65%;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label-title {
  font-weight: bold;
}

.label-value {
  text-align: right;
}

.divider {
  margin: 32px 0;
}

.workers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: auto;
  height: 80vh;
}

.comment-title {
  margin-bottom: 24px;
  font-size: 21px;
}

.comments-section-title {
  margin-top: 30px;
  padding-top: 24px;
  font-size: 21px;
}

.comments-count {
  color: #007bff;
  background-color: #e0f7ff;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 8px;
}

.comment-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.user-img {
  border-radius: 50%;
  width: 35px;
}

.user-name {
  font-weight: 600;
  margin-left: 12px;
}

.comment-time {
  margin-left: 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.comment-body {
  margin-top: 16px;
}

@media (max-width: 1068px) {

  .service-details-table {
    width: 100%;
  }

}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #093042;
  font-weight: bold;
}

