<div class="home-service">
  <div style="    display: flex;
    justify-content: space-between;
    gap: 23px;width: 100%;
    flex-direction: row">

    <div>
      <h1>What are you looking for?</h1>
      <p>Your Trusted Platform for Everyday Help – Drivers, Bystanders, and Errands at Your Fingertips</p>
    </div>
    <div style="width: 40% ">

      <mat-form-field appearance="outline" style="display: flex;  height: fit-content; width: 100%;">
        <mat-label>Search</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Search workers...">
      </mat-form-field>
    </div>
  </div>

  <!--  <div class="bg-light-primary rounded p-y-30 p-x-24 m-b-30 overflow-hidden ng-star-inserted" style="width: 100%">-->
  <!--    <div class="row">-->
  <!--      <div>-->
  <!--        <div>-->
  <!--          <h1>What are you looking for?</h1>-->
  <!--          <p>Your Trusted Platform for Everyday Help – Drivers, Bystanders, and Errands at Your Fingertips</p>-->
  <!--        </div>-->

  <!--      </div>-->


  <!--    </div>-->
  <!--  </div>-->

  <div>
    <app-service-home></app-service-home>
  </div>


  <!--  <div class="row">-->
  <!--    <div class="col-lg-4">-->
  <!--      <app-recent-transactions></app-recent-transactions>-->
  <!--    </div>-->
  <!--    <div class="col-lg-8">-->
  <!--      &lt;!&ndash;      <app-product-performance></app-product-performance>&ndash;&gt;-->
  <!--      <mat-card class="mat-mdc-card mdc-card cardWithShadow">-->
  <!--        <mat-card-content class="mat-mdc-card-content">-->

  <!--          <mat-card-title>Comments <span-->
  <!--            class="text-primary p-x-12 p-y-8 rounded bg-light-primary f-w-600 m-l-8 f-s-18">4</span></mat-card-title>-->

  <!--          <div class="bg-light rounded p-24 m-t-24">-->
  <!--            <div class="d-flex align-items-center">-->
  <!--              <img alt="user" class="rounded-circle" src="/assets/images/profile/user-2.jpg" width="35">-->
  <!--              <span class="mat-body-2 f-w-600 m-l-12">Charlie Hamilton</span>-->
  <!--              <span class="m-l-12 f-s-12 d-flex align-items-center">now</span>-->
  <!--            </div>-->
  <!--            <p class="mat-body-1 m-t-16">-->
  <!--              Jigho tabkubho nira carudi ganlac milza dekpo putog iptodok tuhral canse mi rega ujnuf kukfag osailu bis-->
  <!--              oca.-->
  <!--            </p>-->
  <!--            <button class="icon-30 m-t-16 mdc-fab mdc-fab&#45;&#45;mini mat-mdc-mini-fab mat-primary mat-mdc-button-base"-->
  <!--                    color="primary" mat-mini-fab mattooltip="Reply">-->
  <!--              Reply-->
  <!--            </button>-->
  <!--          </div>-->

  <!--          <div hidden="">-->
  <!--            <form class="d-flex align-items-center m-y-24">-->
  <!--              <img alt="user" class="rounded-circle" src="/assets/images/profile/user-1.jpg" width="35">-->
  <!--              <mat-form-field appearance="outline" class="mat-mdc-form-field w-100 m-l-16">-->
  <!--                <input matInput placeholder="Reply">-->
  <!--              </mat-form-field>-->
  <!--              <button-->
  <!--                class="m-l-16 mdc-button mdc-button&#45;&#45;unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"-->
  <!--                color="primary" mat-flat-button>Reply-->
  <!--              </button>-->
  <!--            </form>-->
  <!--          </div>-->

  <!--          <div class="bg-light rounded p-24 m-t-24 m-l-24">-->
  <!--            <div class="d-flex align-items-center">-->
  <!--              <img alt="user" class="rounded-circle" src="/assets/images/profile/user-3.jpg" width="35">-->
  <!--              <span class="mat-body-2 f-w-600 m-l-12">Ethan Gordon</span>-->
  <!--              <span class="m-l-12 f-s-12 d-flex align-items-center">now</span>-->
  <!--            </div>-->
  <!--            <p class="mat-body-1 m-t-16">-->
  <!--              Diprow wir hilohi ilmi fumow oc co cop iv gi ize tamiv kulok. Bam ci urkati ul negu ovga hivwe toubugof-->
  <!--              gok.-->
  <!--            </p>-->
  <!--            <button class="icon-30 m-t-16 mdc-fab mdc-fab&#45;&#45;mini mat-mdc-mini-fab mat-primary mat-mdc-button-base"-->
  <!--                    color="primary" mat-mini-fab mattooltip="Reply">-->
  <!--              Reply-->
  <!--            </button>-->
  <!--          </div>-->

  <!--          <mat-card-title class="mat-mdc-card-title m-b-24 f-s-21" style="margin-top: 24px">Post Comments-->
  <!--          </mat-card-title>-->
  <!--          <form>-->
  <!--            <mat-form-field appearance="outline" class="mat-mdc-form-field w-100">-->
  <!--              <textarea matInput placeholder="Enter your comment" rows="5"></textarea>-->
  <!--            </mat-form-field>-->
  <!--            <button-->
  <!--              class="mdc-button mdc-button&#45;&#45;unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"-->
  <!--              color="primary" mat-flat-button>-->
  <!--              Post Button-->
  <!--            </button>-->
  <!--          </form>-->
  <!--        </mat-card-content>-->
  <!--      </mat-card>-->
  <!--    </div>-->


  <!--  </div>-->
</div>
