.pageWrapper.maxWidth {
  max-width: 100%;
}

.chat-main-container {
  height: 82vh;
  border: 1px solid #e9e9e9;;

  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
    background-color: white;
  }

  .content-container {
    display: flex;
    height: 100%;
  }

  .friends-list {
    width: 20%;
    border-right: 1px solid #e0e0e0;
    background-color: white;
    overflow: auto;
  }

  .chat-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    overflow: auto;

  }

  .chat-header {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }

  .chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    background-color: #e0e0e0;
  }

  .chat-message.sent {
    background-color: #c5e1a5;
    align-self: flex-end;
  }

  .chat-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
  }

  .message-input {
    flex-grow: 1;
  }

  .profile-section {
    width: 50%;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
    background-color: white;
    overflow: auto;

  }

  mat-card {
    margin-top: 20px;
  }

  img[matListAvatar] {
    border-radius: 40%;
    width: 40px;
    height: 40px;
  }
}
